@charset "UTF-8";

/*-------------------------------------------
共通部分
-------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue"、"Arial"、"Hiragino Sans"、"Hiragino Kaku Gothic ProN"、"Meiryo"、sans-serif;
  line-height: 1.7;
  color: #121212;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.sec-title {
  font-size: 3.7rem;
  color: #fff;
  text-shadow: 1px 1px 4px #121212;
  transition: all .3s ease;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
}

/*-------------------------------------------
header
-------------------------------------------*/
#header {
  background-image: url(../img/mainvisual.jpg);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 24px 40px;
  position: relative;
}

#nav .nav-list {
  display: flex;
  justify-content: flex-end;
}

#nav .nav-list a {
  padding-right: 20px;
  font-size: 0.85rem;
  font-weight: bold;
  text-shadow: 1px 1px 4px #121212;
  transition: all .3s ease;
}

#nav .nav-list a:hover {
  color: #e13531;
}

.site-title {
  position: absolute;
  text-align: center;
  padding: 0 15px;
  left: 0;
  right: 0;
  top: 44%;
  text-shadow: 2px 2px 10px #121212;
}

.item-title {
  border-bottom: 4px solid #e13531;
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 60px;
  display: inline-block;
}

/*-------------------------------------------
main
-------------------------------------------*/
/* 
menu--------------------------------- */
#menu {
  margin-top: 20px;
}

/* パララックス設定 */
#menu .parallax-bg {
  background-image: url(../img/menu.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.menu-img {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

.menu-container {
  display: flex;
  margin-top: 120px;
}

.menu-content {
  width: 50%;
  padding: 0 40px;
}


.food-item {
  margin-bottom: 40px;
}

.menu-content:first-child {
  border-right: 1px solid #000;
}

.menu-content dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85rem;
}

.menu-content dt {
  width: 85%;
  text-align: left;
  border-bottom: 1px dotted#000;
  margin-bottom: 20px;
}

.menu-content dd {
  width: 15%;
  text-align: right;
  padding-top: 7px;
}

/* 
about--------------------------------- */
#about {
  margin-top: 140px;
}

.about-container {
  display: flex;
  margin-top: 120px;
}

#about .parallax-bg {
  background-image: url(../img/about.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.about-img {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

#about ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

#about li {
  width: 50%;
  line-height: 2;
  text-align: left;
  padding: 2%;
  font-size: 0.85rem;
}

#about .btn {
  width: 150px;
  height: 50px;
  display: inline-block;
  color: #000;
  transition: all .3s ease;
  position: relative;
  padding: 0;
  line-height: 3.5;
}

#about .btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/*
.btn::before 右の赤線
.btn::after 下の赤線
.btn span::before 左の赤線
.btn span::after 上の赤線
*/
#about .btn::before,
#about .btn::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e03131;
  transition: all 0.3s ease;
}
#about .btn span::before,
#about .btn span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  transition: all 0.3s ease;
}

#about .btn::before,
#about .btn span::before {
  width: 2px;
  height: 50%;
}

#about .btn::after,
#about .btn span::after {
  width: 20%;
  height: 2px;
}

/*
ホバー時の縦の動作
右の赤線と左の赤線の高さを100%にする
*/
#about .btn:hover::before,
#about .btn span:hover::before {
  height: 100%;
}
/*
ホバー時の横の動作
下の赤線と上の赤線の横幅を100%にする
*/
#about .btn:hover::after,
#about .btn span:hover::after {
  width: 100%;
}

/* 
location------------------- */
#location {
  margin-top: 140px;
  margin-bottom: 180px;
}

#location .location-container {
  margin-top: 120px;
}

#location .parallax-bg {
  background-image: url(../img/location.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.location-img {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

.location-content .item-title {
  border-bottom: 4px solid #e13531;
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 60px;
  display: inline-block;
}

#location .item-map {
  /* グーグルマップをグレースケールにする */
  filter: grayscale(1);
  margin-bottom: 20px;
}

/* グーグルマップのサイズを設定 */
#location .item-map iframe {
  width: 100%;
  height: 400px;
  border: 0;
}
#location .location-info {
  text-align: left;
}
#location .location-info p {
  margin-bottom: 10px;
  font-size: 0.85rem;
}

/*-------------------------------------------
footer
-------------------------------------------*/
#footer {
  text-align: center;
  font-size: 0.65rem;
  padding: 10px 0;
}

/*-------------------------------------------- 
スマホ対応
-------------------------------------------- */
@media (max-width: 767px) {
  /*-------------------------------------------
  共通
  -------------------------------------------*/
  .sec-title {
    font-size: 1.75rem;
  }

  .item-title {
    font-size: 1.25rem;
  }

  #menu .parallax-bg,
  #about .parallax-bg,
  #location .parallax-bg {
    height: 100px;
    /* スマホ時は背景をスクロールするように変更 */
    background-attachment: scroll;
  }

  /*-------------------------------------------
  main
  -------------------------------------------*/
  /* 
  menu------------------------------- */
  #menu .menu-container {
    flex-direction: column;
  }

  #menu .menu-content {
    width: 100%;
    padding: 0 20px;
  }

  #menu .menu-content:first-child {
    border-right: none;
  }

  #menu .menu-content dl {
    margin-bottom: 10px;
  }
  #menu .menu-content dl.food {
    margin-bottom: 10px;
  }

  /* 
  about------------------------ */
  #about ul {
    flex-direction: column;
  }

  #about li {
    width: 100%;
  }

}
